body {
    padding: 0;
    margin: 0;
    /* background-color: rgb(191, 156, 203); */
}
a {
    text-decoration: none;
}
p {
    font-size: 20px;
}
.navbar {
    /* background-color: rgb(80, 87 , 123, 0.3); */
    /* opacity: .5; */
    /* background-color: rgb(46, 92, 46); */
    transition: background-color 0.3 ease;
}
.navbar-solid {
    opacity: 1;
    background-color: rgb(47, 82, 47);
    /* color: white; */
}
.navbar-brand , .nav-link {
    color: white;
}
.crslsub img {
    height: 100%;
}
.sbarbutton {
    top: 35%;
    right: 0;
    font-size: 30px;
    
}
.sbarbtn {
    border: 1px !important;
    border-color: rgb(119, 118, 118) !important;
    border-style: solid !important;
    padding: 20px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    opacity: 0.3;
}
.sbarbtn:hover {
    opacity: initial;
}
dt , dd {
    font-size: 20px;
}
.offcanvas {
    width: 300px !important;
    /* height: 60% !important; */
    /* top: 20% !important; */
    background-color: rgb(47, 82, 47);
}
.offcanvas .btn {
    color: white;
}
.offcanvas .btn:hover {
    color: #262626;
}
.container-fluid {
        margin: 0;
        padding: 0;
}
.tcard {
    background-color: rgb(48, 46, 46, 0.5);
    color: beige;
}
.rescard {
    flex-direction: row;
}
.rescard img {
    width: 30%;
}

@media screen and (max-width:768px){
    .rescard {
        flex-direction: column;
    }
    .rescard img {
        width: 100%;
    }
}
footer {
    background-color: rgb(47, 82, 47);
    color: white;
}

