body {
    padding: 0;
    margin: 0;
    /* background-color: rgb(191, 156, 203); */
    font-family: 'Ysabeau Infant', sans-serif;
    /* background-color: #FDFD96; */
}
.card {
    background-color: #FDFD96;
}
a {
    text-decoration: none;
}
p {
    font-size: 20px;
}
.navbar {
    /* background-color: rgb(80, 87 , 123, 0.3); */
    /* opacity: .5; */
    background-color: rgb(46, 92, 46, 0.5);
    transition: background-color 0.3 ease;
}
.navbar-solid {
    opacity: 1;
    background-color: rgb(47, 82, 47);
    /* color: white; */
}
.navbar-brand , .nav-link {
    color: white;
}
.nav-link:hover {
    color: #262626;
}
.crslsub img {
    height: 100%;
}
.sbarbutton {
    top: 35%;
    right: 0;
    font-size: 30px;
    
}
.sbarbtn {
    border: 1px !important;
    border-color: rgb(46, 92, 46) !important;
    border-style: solid !important;
    padding: 20px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    color: rgb(46, 92, 46);
}
.sbarbtn:hover {
    color: white;
    background-color: rgb(46, 92, 46);
}
dt , dd {
    font-size: 20px;
}
.offcanvas {
    width: 300px !important;
    /* height: 60% !important; */
    /* top: 20% !important; */
    background-color: rgb(47, 82, 47);
}
.offcanvas .btn {
    color: white;
}
.offcanvas .btn:hover {
    color: #262626;
}
.container-fluid {
        margin: 0;
        padding: 0;
}
.tcard {
    background-color: rgb(48, 46, 46, 0.5);
    color: beige;
}
.rescard {
    flex-direction: row;
}
.rescard img {
    width: 30%;
}

@media screen and (max-width:768px){
    .rescard {
        flex-direction: column;
    }
    .rescard img {
        width: 100%;
    }
}
footer {
    background-color: rgb(47, 82, 47);
    color: white;
}
.iconlink {
    color: rgb(47, 82, 47);
}
/* .card-image-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
} */
.tourbutton {
    background-color: rgb(47, 82, 47, 0.5);
    color: white;
    border-color: white;
}
.tourbutton:hover {
    background-color: rgb(47, 82, 47);
}
.tour .tcard {
    visibility: hidden;
    /* opacity: 0; */
    transition: visibility 0.2s linear 0.2s;
}
.tour:hover .tcard {
    visibility: visible;
    /* opacity: 1; */
}
.tour .tourbutton {
    visibility: hidden;
    /* opacity: 0; */
    transition: visibility 0.2s linear 0.2s;
}
.tour:hover .tourbutton {
    visibility: visible;
    /* opacity: 1; */
    /* filter: none; */
}
.tourimg:hover img{
    -webkit-filter: blur(4px) ;
    filter: blur(4px);
}
.tourimg img {
    transition: filter 0.2s linear 0.2s;
}
.restbutton {
    border-color: rgb(47, 82, 47);
}
.restbutton:hover {
    background-color: rgb(47, 82, 47);
    color: white;
}
h4, h1, h3, h2 {
    font-weight: bold;
}